* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
}

html {
    background-color: black;
}

p {
    color: gold;
}

#title {
    font-size: 32px;
    text-align: center;
    color: orange;
}

.accordion{
    max-width: 900px;
    margin: 40px auto;
}

.chapter{
    cursor: pointer;
    margin-bottom: 5px;
}

.chapter .label {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 24, 66) 100%);
    color: gold;
    padding: 15px;
}

.chapter .desc{
    background: black;
    overflow: hidden;
    padding: 0px 20px;
    max-height: 0px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)
}

.chapter.active .desc {
    cursor: default;
    max-height: 1000px;
    padding:20px;
    transition:cubic-bezier(1, 0, 0, 1);
}
.welcome{
    cursor: pointer;
    margin-bottom: 5px;
}

.welcome .label {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 24, 66) 100%);
    color: gold;
    padding: 15px;
}

.welcome .desc{
    background: black;
    overflow: hidden;
    padding: 0px 20px;
    max-height: 0px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)
}

.welcome.active .desc {
    cursor: default;
    max-height: 1000px;
    padding:20px;
    transition:cubic-bezier(1, 0, 0, 1);
}

.buttonOne{
    background-color: black;
    color: goldenrod;
    border: solid 2 px goldenrod;
    border-radius: 15px;
    height: 45px;
    width: 100px;
    margin: 30px;
}

.buttonTwo{
    background-color: black;
    color: goldenrod;
    border: solid 2 px goldenrod;
    border-radius: 15px;
    height: 45px;
    width: 100px;
    margin:30px;
}

.welcome img { 
    float: left;
    height: 300px;
    width: 300px;
    object-fit: scale-down;
 }

 .chapter img { 
    float: left;
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    padding: 10px;
 }